body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #9000B1; /* Nav text */
}

nav a:hover {
  color: #ccc; /* Nav hover text */
}

main {
  max-width: 800px;
  margin: auto;
}

.rainbow-text {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
  -moz-background-clip: text; /* Firefox support */
  -webkit-background-clip: text; /* Safari support */
  background-clip: text; /* Standard syntax */
  -moz-background-size: 100% 100%; /* Firefox support */
  -webkit-background-size: 100% 100%; /* Safari support */
  background-size: 100% 100%;
}

.rainbow-text:hover {
  animation: rainbow-anim 5s infinite linear;
}

@keyframes rainbow-anim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
