body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 20px;
  text-align: center;
}

.rainbow-strobe {
  position: relative;
  display: inline-block;
}

.rainbow-strobe span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 165, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 0, 255, 0.5));
  background-size: 200px;
  animation: rainbow-stroke 1s infinite;
}

@keyframes rainbow-stroke {
  from {
    background-position-x: -100px;
  }
  to {
    background-position-x: calc(-100px + var(--width));
  }
}

.rainbow-strobe:hover {
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #ccc; /* Nav text */
}

nav a:hover {
  color: #ccc; /* Nav hover text */
}

main {
  max-width: 800px;
  margin: auto;
}

button {
background-image: linear-gradient(to right, 
    #D914FD, #C727FA, #B53BF8, #A34EF5, #9162F3, 
    #7F76F1, #6C89EE, #5A9DEC, #48B1EA, #36C4E7, 
    #24D8E5, #12EBE2);
background-size:425px;
animation: rainbow-strobe-2s infinite;
width:200px;height:50px;}

@keyframes rainbow-strobe-2s{
    from{
        background-position-x:-425px;}
    to{
        background-position-x:calc(-425px+var(--width));}
}
