/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #333; /* Black background */
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #ccc;
}

/* Main Content Styles */

main {
  max-width: 800px;
  margin: auto;
}
/* Q&A Styles */

#qna {
  max-width: 800px;
  margin: auto;
}

.question-box {
  border-bottom: 1px solid #ccc;
}

.question-box:last-child {
  border-bottom: none;
}

.question-box h2 {
  margin-top: 20px;
}

.toggle {
  cursor: pointer;
}

.answer {
  display: none;
}

.answer.show {
  display: block;
}
